<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <h1>Here is the test website</h1>

    <div>
        <p>
            Name: {{ name }}
        </p>
        <p>
            Country: {{ country }}
        </p>
        <p>
            {% for li in list%}
            <h{{ li }}>Life is Good</h{{ li }}>
            {% endfor %}
        </p>
    </div>



    <script src="" async defer></script>
</body>

</html>